.dash-module {
    padding-top: 4px;
    padding-bottom: 4px;
    h2 {
        font-size: 1.2rem;
    }
    .dash-list {
        min-height: 200px;
    }
    .dash-controls {
        min-height: 200px;
    }
    .dash-table {
        // min-height: auto;
    }
}