.dash-module {
    padding-top: 10px;
    padding-bottom: 10px;
    h2 {
        font-size: 1.2rem;
    }
    .dash-list {
        min-height: 200px;
    }
    .dash-controls {
        min-height: 200px;
    }
    .dash-table {
        //
    }
}