.form-module {
    form {
        margin: 40px auto 80px auto;
        .form-header {
            text-align: center;
            color: $brand;
        }
        .form-section {
            margin-top: 90px;
            .section-header {
                display: flex;
                margin-bottom: 10px;
                font-size: 1.3rem;
                .header-text {
                    padding-right: 2rem;
                    z-index: 1;
                    font-weight: bold;
                    color: $brand;
                }
                .header-divider {
                    height: 3px;
                    background-color: $brand;
                    top: 50%;
                    z-index: 2;
                }
            }
            &:first-of-type {
                margin-top: 40px;
            }
        }
        .form-action {
            margin-top: 80px;
        }
    }
}