.form-history {
    padding-top: 10px;
    font-size: .925rem;
    .history-content {
        .history-status {
            input {
                width: auto;
                background-color: #ececec;
            }
        }
        .history-comment {
            margin-top: 26px;
            textarea {
                background-color: #ececec;
            }
        }
    }
    .history-side {
        .history-time {
            margin-top: 34px;
            .time-date {
                font-weight: bold;
            }
            .time-hour {
                //
            }
        }
        .history-user {
            margin-top: 32px;
            font-weight: bold;
        }
    }
    hr {
        margin: 40px 0;
    }
}