.form-history {
    padding-top: 14px;
    font-size: .925rem;
    .history-content {
        .history-status {
            //
        }
        .history-comment {
            margin-top: 26px;
        }
    }
    .history-side {
        .history-time {
            //
        }
        .history-user {
            margin-top: 26px;
        }
    }
    hr {
        margin: 40px 0;
    }
}